{% extends "home.html" %} 

{% load static %}

{% block content %}
<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="#" style="font-size: 32px">
    <img class="mb-2" src="{% static "images/ticktick-app-icon.jpg" %}"
    width="50" height="50" class="d-inline-block align-top" alt=""
    loading="lazy" /> Todo
  </a>
</nav>

<div class="container-fluid">
  <h2 class="text-center">Add your Todo here!</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <form
        class="form-inline justify-content-center mt-3 mb-5"
        action="add_todo/"
        method="POST"
      >
        {% csrf_token %}
        <div class="form-group">
          {{ form.todo_text }}
        </div>
        <button
          type="submit"
          class="ml-3 mr-1 btn btn-primary"
          style="color: #eeff00"
        >
          ADD
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container">
    {% for todo in todo_list %}
    <div class="row no-gutters mb-3">
      <div class="col">
        <p class="lead pl-5"><strong>{{ todo.todo_text }}</strong></p>
        <p class="lead text-muted" style="font-size: 13px; margin-left: 48px">
          Added on: {{ todo.added_on }}
        </p>
        <!-- Show updated time info only if it's not equal to the add time info -->
        {% if todo.added_on != todo.updated_on %}
        <p class="lead text-muted" style="font-size: 13px; margin-left: 48px">
          Updated on: {{ todo.updated_on }}
        </p>
        {% endif %}
      </div>

      <div class="col">
        <button type="submit" class="btn btn-info float-right">EDIT</button>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-danger float-right mr-5">
          DELETE
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
